*~
*pycache*
#*
.#*
*\#
#ignore images by default
*.png
*.jpg
*.svg
*.pdf
*.gif
*.pyc
*.so
*.d
*.pcm
*.zip
#Ignore data files
*.root
*.hist
*.tree
*.art
*/datacards
notes.org
*.gdml
#Ignore simulation run outputs
workflows/runs
#Ignore TMVA outputs
studies/*/*_output
studies/*/outputs
#Ignore temporary files
*.log
*.out
*.tmp
*.save
*.diff
*.swap
